{
    "ecmaFeatures": {
        "modules": true
    },
    "env": {
        "es6": true,
        "mocha": true,
        "node": true
    },
    "parser": "babel-eslint",
    "rules": {
        "camelcase": [0],
        "indent": [
            2,
            4
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "no-multi-spaces" : [0],
        "no-use-before-define" : [2, "nofunc"],
        "no-underscore-dangle" : [0],
        "quotes" : [0, "single"],
        "semi": [
            2,
            "always"
        ]
    }
}
